$panel_color:#9ec5fe;

.top-content-item{
    min-height: 100px;
}

.top-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-list-body-text > a{
    text-decoration: none;
    text-decoration-color: black;
    color:black;
}

.top-list-thumnail{
    text-align:center;
    border-radius: 6px;
    background-color: #aaaaaa;
    img{
        border-radius: 6px;
    }
}

.pager-page{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$panel_color;
    border-radius: 10px;
}
