.top-content-body{
    margin-top: 10px;
}
.top-content-left{
    background-color:white;
    border-radius: 10px;
}
.top-content-main{
    min-height: 100px;
    background-color:white;
    border-radius: 10px;
}

/* ソースコード部分<pre>で囲むつかう */
pre {
  margin: 1em 0; /* ブロック前後の余白 */
  padding: 1em; /* ブロック内の余白 */
  border-radius: 5px; /* 角丸 */
  background: #25292f; /* 背景色 */
  color: #fff; /* 文字色 */
  white-space: pre-wrap; /* はみ出たときに折り返す */
}

